Django==5.2.7
djangorestframework==3.16.0
djangorestframework-simplejwt==5.3.1
django-filter==24.3
channels==4.1.0
channels-redis==4.2.0
daphne==4.1.2
whitenoise==6.8.2
celery==5.4.0
redis==5.2.1
django-redis==5.4.0
psycopg[binary]==3.2.3
